<%-include('./partials/header.ejs')%>
<body>
        
    <div class="top-10-section">
        <h2>Top 10 on IMDb this week</h2>
        <div class="owl-carousel owl-theme">
            <% movies.forEach(movie => { %>
                <div class="item top-10-item">
                    <a href="/movie/<%= movie.movie_id %>">
                        <img src="<%= movie.img_url %>" alt="<%= movie.movie_name %>">
                    </a>
                    <div class="info">
                        <a class="title" style="text-overflow: ellipsis;"><%= movie.movie_name %></a>
                        <a class="rating"><%= movie.rating %></a>
                        <div class="buttons">
                            <button class="watchlist-btn">Watchlist</button>
                            <button class="trailer-btn">Trailer</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    
    <script>
        $(document).ready(function(){
          $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
              0: {
                items: 2
              },
              576: {
                items: 2
              },
              768: {
                items: 3
              },
              1024: {
                items: 4
              },
              1440: {
                items: 6
              },
              2560: {
                items: 8
              }
            }
          });
        });
        </script>
        
</body>